.Header {
  height: $header-height;
  width: 100%;
  position: relative;
  z-index: $header-z-index;
  background-color: $primary;
  color: $header-text;

  // Header has special links
  a {
    color: $header-text;
    text-decoration: none;
  }
}

.Header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include media-query('tablet') {
    justify-content: flex-start;
  }
}

.Header-menuIcon {
  width: $font-size-h1;
  height: 100%;
  position: absolute;
  cursor: pointer;
  left: $m * 2;

  > svg {
    width: 100%;
    height: 100%;
  }

  @include media-query('tablet') {
    display: none;
  }
}

.Header-brand {
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  margin: 0;

  @include media-query('tablet') {
    // font-size: $font-size-h2;
    margin-right: $m * 3;
  }
}


/* Header Desktop */
.Header-desktop {
  display: none;
  height: 100%;

  @include media-query('tablet') {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.Header-desktop-list {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  li {
    height: 100%;
  }
}

.Header-desktop-link {
  @extend %font-heading;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: $m;
  padding-right: $m;

  &.is-active {
    background-color: rgba($merlot, 0.3);
  }
}


/* Header Mobile */
.Head-mobileContainer {
  display: none;

  &.is-open {
    display: block;
  }

  @include media-query('tablet') {
    display: none !important;
  }
}

.Header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 80vw;
  height: 100vh;
  z-index: $header-z-index - 1;
}

.Header-mobile-closeGutter {
  height: $header-height;
  position: relative;
}

.Header-mobile-closeIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: $m * 2;
  cursor: pointer;
}

.Header-mobile-scrollable {
  overflow-y: scroll;
  max-height: calc(100vh - #{$header-height});
}

.Header-mobile-list {
  margin-top: 0;
  margin-bottom: $m * 4;
  padding: 0;
}

.Header-mobile-listItem {
  font-family: $font-style-heading;
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  list-style: none;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($lemonade, 0.2);
  }
}

.Header-mobile-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $m $m * 2;

  &.is-active {
    background-color: rgba($merlot, 0.3);
  }
}

.Header-mobile-invisibilityCloak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
