{{ define "main" }}

<div class="Container Container--thin">
  <div class="PostList">
    {{/* Page of posts */}}
    {{ range where .Site.RegularPages "Section" "posts"  }}
      <div class="Post">
        {{/* Hero image */}}
        {{ $heroImagePath := .Params.HeroImage }}
        {{ if $heroImagePath }}
          {{ $heroImage := .Resources.GetMatch $heroImagePath }}
          {{ $heroImageAlt := .Params.HeroImageAlt }}
          <img class="Post-heroImage" src="{{ $heroImage.RelPermalink }}" {{ if $heroImageAlt }}alt="{{ $heroImageAlt }}"{{ end }}>
        {{ end }}

        <div class="Post-container">
          {{/* Title */}}
          <h1 class="Post-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h1>

          {{/* Summary */}}
          <div class="Post-summary">
            {{ .Summary | safeHTML }}
          </div>

          {{/* Read more */}}
          {{ if .Truncated }}
            <a class="Post-readMore Button" href="{{ .RelPermalink }}">Read more</a>
          {{ end }}

          {{/* Post date */}}
          <div class="u-marginTop-lg">
            {{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05-0700" }}
            {{ $formattedDate :=  .PublishDate.Format .Site.Params.dateFormat }}
            <a class="Post-date" href="{{ .RelPermalink }}">Posted <time datetime="{{ $dateTime }}">{{ $formattedDate }}</time></a>
          </div>

          {{/* Post tags */}}
          <ul class="Post-tagList">
            {{ range .Params.tags }}
              <li class="Post-tag">
                {{ $href := printf "/tags/%s" (urlize .) }}
                <a href="{{ $href }}">#{{ . }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}

    {{/* Paginator */}}
    {{ partial "pagination" . }}
  </div>
</div>

{{ end }}